<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Register</title>
    <link rel="stylesheet" href="{{url_for('user_bp.static', filename='style.css')}}">
</head>
<body>
<div class="heading">
    <h2 style="color:blue;">Create an Account</h2>
    {{form.hidden_tag()}}
</div>
<div class="form">
    <form method="post">
        <div class="inputfields">
            {{form.username(placeholder="username")}}
            {% for error in form.username.errors %}
                <p>{{error}}</p>
            {% endfor %}
        </div>
        <div class="inputfields">
            {{form.email(placeholder="email")}}
            {% for error in form.email.errors %}
                <p>{{error}}</p>
            {% endfor %}
        </div>
        <div class="inputfields">
            {{form.password1(placeholder="password")}}
            {% for error in form.password1.errors %}
                <p>{{error}}</p>
            {% endfor %}
        </div>
        <div class="inputfields">
            {{form.password2(placeholder="Confirm password")}}
            {% for error in form.password2.errors %}
                <p>{{error}}</p>
            {% endfor %}
        </div>
        <div class="inputfields">
            {{ form.csrf_token }}
            {{form.submit()}}
        </div>
        {% for error in get_flashed_messages() %}
            <p>{{error}}</p>
        {% endfor %}
    </form>
    <div class="heading">
        <h3><a href="{{url_for('user_bp.login')}}">Already have an account? Login</a></h3>
    </div>
</div>
</body>
</html>